* {
	margin: 0;
	padding: 0;
	box-sizing: border-box;
}

body {
	background: rgb(220,237,200) url("../Imagenes/Fondo.jpg");
	background-repeat: no-repeat;
	background-size: cover;
	background-attachment: fixed;
	font-family: 'Nunito Sans', sans-serif ;
	font-size: 16px;
	padding-top: 55px;
        overflow: hidden;
}

.Contenedor {
	width: 100%;
}
.Lista_SASS{
	width: 100%;
        height: 100vh;
	margin: 0x auto;
        padding-bottom: 128px;
	background: rgba(255,249,196,.8);
	background-attachment: fixed;
        align-items: center;
        justify-content: center;
}
.Scroll_Ambiente{
    height: 450px;
    overflow: auto;
}
.Scroll_Salud{
    height: 450px;
    overflow: auto;
}
header {
        height: 55px;
	background: rgb(39,174,96);
	position: fixed;
	width: 100%;
	min-width: 350px;
	top: 0;
}
.Menu {
        padding: 5px 0px;
	max-width: 1250px;
	margin: auto;
	display: flex;
	flex-direction: row;
	justify-content: space-between;
	align-items: center;
}
.Menu .fa-home{
    font-size: 38px;
    color: white;
}

main .Lista_SASS{    
    color: rgb(39,174,96);
}
main .Cabezera{
	width: 100%;
        height: auto;
	display: flex;
	margin: -50px auto auto;
	padding-top: 70px;
	align-items: center;
	justify-content: center;
        font-family: 'Nunito Sans', sans-serif ;
        font-size: 16px;
}
main .Cabezera h1{
        font-family: 'Nunito Sans', sans-serif ;
        font-size: 250%;
}
.Opciones_SASS{
    text-align: center;
}
.Nombre_Ambiente{
    display: flex;
    align-items: center;
    justify-content: center;
    margin: 10px auto;
    background: rgb(255,255,255);
    width: 100%;
    height: 50px;
    border-radius: 10px 0px 0px 0px;
    max-width: 1000px;
    cursor: pointer;
}
.Nombre_Salud{
    display: flex;
    align-items: center;
    justify-content: center;
    margin: 10px auto;
    background: rgb(255,255,255);
    width: 100%;
    height: 50px;
    border-radius: 10px 0px 0px 0px;
    max-width: 1000px;
    cursor: pointer;
}
.Datos_Ambiente{
    width: 100%;
    height: 300px;
    max-width: 1000px;
    padding: 40px;
    display: felx;
    justify-content: center;
    align-items: center;
    border-radius: 0px 0px 20px;
    margin: -10px auto;
    background: rgb(255,255,255);
    border-top: 1px solid rgb(39,174,96);
}
.Datos_Salud{
    width: 100%;
    height: 300px;
    max-width: 1000px;
    padding: 40px;
    display: felx;
    justify-content: center;
    align-items: center;
    border-radius: 0px 0px 20px;
    margin: -10px auto;
    background: rgb(255,255,255);
    border-top: 1px solid rgb(39,174,96);
}
.Left_SASS{
    width: 40%; 
    padding: 0;
    text-align: center;
    align-items: center;
    float: left;
    padding-left: 40px;
    
}
.icon-camera{
    cursor: pointer;
}
#Vista_Previa img{
    width: 200px;
    height: 200px;
    border-radius: 50%;
}
#Foto{
    background: transparent;
    width: 0%;
}
.Rigth_SASS{
    font-size: 16px;
    display: flex;
    align-items: center;
    justify-content: center;
    width: 60%;
    float: right;
}
.Rigth_SASS label {
    display: block;
    margin-top: 4px;
}
.Rigth_SASS input{
    font-size:16px;
    display: block; 
    background: transparent;
    border: transparent;
    color: rgb(39,174,96);
    margin-top: 4px;
}
.Rigth_SASS .Datos1{
    padding-right: 40px;
    font-family: 'Nunito Sans', sans-serif ;
}
.Rigth_SASS .Datos2{
    padding-left: 40px;
}
.Botones{
    width: 60%;
    height: 100px;
    float: right;
    display: flex;
    align-items: center;
    justify-content: center;
}
.Botones input, button{
    color: white;
    background: rgb(39,174,96);
    border-radius: 10%;
    border: transparent;
    font-size: 110%;
    padding: 5px 10px;
    margin: 10px;
    font-family: 'Nunito Sans', sans-serif arial;
    cursor: pointer;
}
.Botones  label{
    color: white;
    background: rgb(39,174,96);
    border-radius: 10%;
    border: transparent;
    font-size: 110%;
    padding: 5px 10px;
    margin: 10px;
    font-family: 'Nunito Sans', sans-serif arial;
    cursor: pointer;
}
