/* Estilos para todo */

* {
	margin: 0;
	padding: 0;
	box-sizing: border-box;
}

body {
	background: rgb(220,237,200) url("../Imagenes/Fondo.jpg");
	background-repeat: no-repeat;
	background-size: cover;
	background-attachment: fixed;
	font-family: 'Nunito Sans', sans-serif arial;
	font-size: 16px;
	padding-top: 55px;
}


/* Aca terminan los estilos generales */

 /* aca va todo sobre el menu */

header {
	background: rgb(39,174,96);
	position: fixed;
	width: 100%;
	min-width: 350px;
	top: 0;
}
.Menu {
	width: 90%;
	max-width: 1000px;
	margin: auto;
	display: flex;
	flex-direction: row;
	justify-content: space-between;
	align-items: center;
}

.Menu .Usuario {
	display: inline-block;
	margin-right: 1em;
	text-align: center;
}

.Menu .btn-menu{
	display: none;
	color: rgb(255,255,255);
	text-decoration: none;
	font-size: 1em;
}

.Menu .Usuario .Perfil {
	color: rgb(255,255,255);
	text-decoration: none;
	display: flex;
	align-items: center;
	width: 200px;
	text-align: center;
	font-size: 1em;
	margin: auto;
	padding: 0.3em;
        cursor: pointer;
}
.Contenedor-Perfil{
        width: 90%;
	max-width: 1000px;
        background: white;
        margin: auto;
}
.Contenedor-Perfil .Datos-Usuario{
        width: 200px;
        background: rgb(39,174,96);
	position: fixed;
	right: 11.9em;
        
        -webkit-box-shadow: 0px 4px 11px -1px rgba(0,0,0,0.75);
        -moz-box-shadow: 0px 4px 11px -1px rgba(0,0,0,0.75);
        box-shadow: 0px 4px 11px -1px rgba(0,0,0,0.75);
}
.Contenedor-Perfil .Datos-Usuario a:hover{
    background: rgb(39,230,130);
}
.Contenedor-Perfil .Datos-Usuario a{
	padding: 15px;
	display: block;
	text-decoration: none;
	color: rgb(255,255,255);
	text-align: center;
}
.Menu .Usuario .Perfil a{
	padding: .6em ;
	display: inline-block;
	text-decoration: none;
	color: rgb(255,255,255);
	text-align: center;
	margin: auto;
}

.Menu .Usuario .Perfil img{
	margin: auto;
	border-radius: 50%;
	width: 40px;
	height: 40px;
	border: 1px solid rgb(255,255,255);
}

.Menu .Usuario .Perfil:hover {
	background: rgb(39,230,130);
}

.Menu .Enlaces {
	background: rgb(39,174,96);
	display: inline-block;
	text-align: left;
}

.Menu .Enlaces a {
	color: rgb(255,255,255);
	text-decoration: none;
	display: inline-block;
	padding: 1em;
	text-align: left;
	font-size: 1em;
}

.Menu .Enlaces i {
	margin-right: 5px;
}

.Menu .Enlaces a:hover {
	background: rgb(254,249,231);
	color: rgb(39,174,96);
	border-right: 1px solid rgb(39,174,96);
}

/* Efectos del menu */

.headroom {
	transition: transform .3s ease;
}

.headroom--pinned {
	transform: translateY(0%);
}

.headroom--unpinned {
	transform:  translateY(-100%);
}

.headroom--bottom {
	transform: translateY(0%);
}

/* Finalizamos los efectos del menu */

/* Aca termina todo del menu */

/* Aca va lo relacionado con articulos y contenido dentro del body */

.Contenedor {
	width: 100%;
}

main article {
	width: 100%;
	height: 100vh;
	min-width: 350px;
	margin: 0px auto;
	padding: 20px;
}

main .Cabezera{
	width: 100%;
	height: 150px;
	display: flex;
	margin: -50px auto 0px auto;
	padding-top: 25px;
	align-items: center;
	justify-content: center;
	background: rgba(255,255,255,.5);
}

main article h1 {
	font-weight: normal;
	margin-bottom: .5em;
}

main article hr {
	margin-bottom: 1em;
	background: rgb(39,174,96);
	border: none;
}

main article p {
	margin-bottom: 1em;
}

.Denuncias {
	width: 100%;
	height: 100vh;
	margin: 0x auto;
	background: rgba(255,249,196,.8);
	background-attachment: fixed;
        align-items: center;
        justify-content: center;
}


.Denuncias .Denuncia_Anonima,
.Denuncias .Denuncia_Cliente{
    display: flex;
    align-items: center;
    justify-content: center;
    margin: 10px auto;
    background: rgb(255,255,255);
    color: rgb(39,174,96);
    width: 100%;
    height: 50px;
    border-radius: 10px 0px 0px 0px;
    max-width: 1000px;
    cursor: pointer;
}
.Denuncias .Datos_Denuncia_Anonima {
    justify-content: center;
    padding: 20px;
    margin: 10px auto;
    color: rgb(39,174,96);
    width: 100%;
    height: 520px;
    max-width: 1000px;
    overflow: scroll;
    overflow-x: hidden;
}
.Denuncias .Datos_Denuncia_Cliente{
    justify-content: center;
    padding: 20px;
    margin: 10px auto;
    color: rgb(39,174,96);
    width: 100%;
    height: 520px;
    max-width: 1000px;
    overflow: scroll;
    overflow-x: hidden;
}
.Denuncias .Datos_Denuncia_Anonima .Datos_Anonima{
    border-bottom: 1px solid green;
    width: 100%;
    max-width: 1000px;
    background: rgba(178,255,186,0.6);
    color: black;   
}
.Denuncias .Datos_Denuncia_Cliente .Datos_Cliente{
    border-bottom: 1px solid green;
    width: 100%;
    max-width: 1000px;
    background: rgba(178,255,186,0.6);
    color: black;   
}
.Denuncias .Datos_Denuncia_Anonima .Datos_Anonima div{
    display: inline-block;
    width: 180px;
    padding: 10px;
}
.Denuncias .Datos_Denuncia_Cliente .Datos_Cliente div{
    display: inline-block;
    width: 180px;
    padding: 10px;
}
.fa-eye{
    text-align: right;
    float: right;
    cursor: pointer;
}
.Denuncias .Datos_Denuncia_Anonima .Datos_DAnonima{
    position: fixed;
    display: flex;
    width: 100%;
    height: 100%;
    top: 0;
    left: 0;
    background: rgba(0,0,0,0.7);
    margin: auto;
    text-align: center;
    justify-content: center;
    align-items: center;
}
.Denuncias .Datos_Denuncia_Cliente .Datos_DCliente{
    position: fixed;
    display: flex;
    width: 100%;
    height: 100%;
    top: 0;
    left: 0;
    background: rgba(0,0,0,0.7);
    margin: auto;
    text-align: center;
    justify-content: center;
    align-items: center;
}
.Denuncias .Datos_Denuncia_Anonima .Datos_DAnonima  label{
    display: flex;
    flex-direction: column;
    flex-wrap: wrap;
    justify-content: center;
}
.Denuncias .Datos_Denuncia_Cliente .Datos_DCliente label{
    display: flex;
    flex-direction: column;
    flex-wrap: wrap;
    justify-content: center;
}
.Denuncias .Datos_Denuncia_Anonima .Datos_DAnonima .Datos_DAnonima2{
    width: 400px;
    overflow: auto;
    padding-top: 20px;
    background-color: white;
    border-radius: 20px;
    text-decoration: none;
    padding: 20px;
    color: black;
    -webkit-box-shadow: 0px 0px 23px 5px rgba(0,0,0,0.75);
    -moz-box-shadow: 0px 0px 23px 5px rgba(0,0,0,0.75);
    box-shadow: 0px 0px 23px 5px rgba(0,0,0,0.75);
}
.Denuncias .Datos_Denuncia_Cliente .Datos_DCliente .Datos_DCliente2{
    width: 400px;
    overflow: auto;
    padding-top: 20px;
    background-color: white;
    border-radius: 20px;
    text-decoration: none;
    padding: 20px;
    color: black;
    -webkit-box-shadow: 0px 0px 23px 5px rgba(0,0,0,0.75);
    -moz-box-shadow: 0px 0px 23px 5px rgba(0,0,0,0.75);
    box-shadow: 0px 0px 23px 5px rgba(0,0,0,0.75);
}

.Denuncias .Datos_Denuncia_Anonima .Datos_DAnonima .Datos_DAnonima2 h1{
    text-align: center;
    font-size: 40px;
    font-weight: bold;
    border-bottom: 1px solid black;
    color: rgb(39,174,96);
    padding: 2px;
}
.Denuncias .Datos_Denuncia_Cliente .Datos_DCliente .Datos_DCliente2 h1{
    text-align: center;
    font-size: 40px;
    font-weight: bold;
    border-bottom: 1px solid black;
    color: rgb(39,174,96);
    padding: 2px;
}

.Denuncias .Datos_Denuncia_Anonima .Datos_DAnonima .Datos_DAnonima2 img{
    width: 150px;   
    height: 150px;
    margin-bottom: 16px;
    border-radius: 10%;
    background: gray;
}
.Denuncias .Datos_Denuncia_Cliente .Datos_DCliente .Datos_DCliente2 img{
    width: 150px;   
    height: 150px;
    margin-bottom: 16px;
    border-radius: 10%;
    background: gray;
}
.Denuncias .Datos_Denuncia_Anonima .Datos_DAnonima .Datos_DAnonima2 .Datos{
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    justify-content: center;
    text-align: left;
}
.Denuncias .Datos_Denuncia_Cliente .Datos_DCliente .Datos_DCliente2 .Datos{
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    justify-content: center;
    text-align: left;
}
.Denuncias .Datos_Denuncia_Anonima .Datos_DAnonima .Datos_DAnonima2 .respuestas label{
  display: inline-block;
  color: rgb(39,174,96);
}
.Denuncias .Datos_Denuncia_Cliente .Datos_DCliente .Datos_DCliente2 .respuestas label{
  display: inline-block;
  color: rgb(39,174,96);
}

.Denuncias .Datos_Denuncia_Anonima .Datos_DAnonima .Datos_DAnonima2 .Respuesta{
    max-width: 200px;
}
.Denuncias .Datos_Denuncia_Cliente .Datos_DCliente .Datos_DCliente2 .Respuesta_Cliente{
    max-width: 200px;
}

.Denuncias .Datos_Denuncia_Anonima .Datos_DAnonima .Datos_DAnonima2 .Datos .dat{
    width: 150px;
    text-align: left;
    font-size: 17px;
    font-weight: bold;
}
.Denuncias .Datos_Denuncia_Cliente .Datos_DCliente .Datos_DCliente2 .Datos .dat{
    width: 150px;
    text-align: left;
    font-size: 17px;
    font-weight: bold;
}
.Denuncias .Datos_Denuncia_Anonima .Datos_DAnonima .Datos_DAnonima2 .Datos label{
    width: 150px;
    font-size: 17px;
}
.Denuncias .Datos_Denuncia_Cliente .Datos_DCliente .Datos_DCliente2 .Datos label{
    width: 150px;
    font-size: 17px;
}
.Denuncias .Datos_Denuncia_Anonima .Datos_DAnonima .Datos_DAnonima2 .Descrip{
    padding: 10px;
    font-size: 17px;
    text-align: left;
    margin-left: 20px;
}
.Denuncias .Datos_Denuncia_Cliente .Datos_DCliente .Datos_DCliente2 .Descrip{
    padding: 10px;
    font-size: 17px;
    text-align: left;
    margin-left: 20px;
}
.Denuncias .Datos_Denuncia_Anonima .Datos_DAnonima  .cerrar_anonima{
    margin-top: -20px;
    margin-right: -15px;
    float: right;
    font-size: 30px;
}
.Denuncias .Datos_Denuncia_Cliente .Datos_DCliente .cerrar_Cliente{
    margin-top: -20px;
    margin-right: -15px;
    float: right;
    font-size: 30px;
}
.Denuncias .Datos_Denuncia_Anonima .Datos_DAnonima .img-Denuncia_A2{
    width: 600px;
}
.Denuncias .Datos_Denuncia_Cliente .Datos_DCliente .img-Denuncia_C22{
    width: 600px;
}
.Denuncias .Datos_Denuncia_Anonima .Datos_DAnonima .img-Denuncia_A2 .Cerrar_img_Anonima{
    font-size: 30px;
    float: right
}
.Denuncias .Datos_Denuncia_Cliente .Datos_DCliente .img-Denuncia_C2 .Cerrar_img_Cliente{
    font-size: 30px;
    float: right
}
.Denuncias .Datos_Denuncia_Anonima .Datos_DAnonima .img-Denuncia_A2 img{
    width: 100%;
    background: gray;
}
.Denuncias .Datos_Denuncia_Cliente .Datos_DCliente .img-Denuncia_C2 img{
    width: 100%;
    background: gray;
}
.fa-close{
    cursor: pointer;
}


.Respuesta{
    min-height: 100px;
    max-height: 200px;
    min-width: 300px;
}
.Enviar_Respuesta{
    margin: 10px;
    padding: 4px 7px;
    background: rgba(178,255,186,0.6);
    border-radius: 5px;
    font-size: 15px;
    cursor: pointer;
}
.Adopcion {
	width: 100%;
	height: 100vh;
	margin: 0 auto;
	background: rgba(248,255,178,.8);
	background-attachment: fixed;	
}

.Eventos {
	width: 100%;
	height: 100vh;
	margin: 0 auto;
	background: rgba(209,255,178,.8);
	background-attachment: fixed;
}

.Tips {
	width: 100%;
	height: 100vh;
	margin: 0 auto;
	background: rgba(178,255,186,.8);
	background-attachment: fixed;
}

.Usuarios {
	width: 100%;
	height: 100%;
	margin: 0 auto;
	background: rgb(39,174,96);
	background-attachment: fixed;
}

.Usuarios .Ciudadanos,
.Usuarios .Veterinarias,
.Usuarios .SASS,
.Usuarios .Administrador,
.Usuarios .Listas {
	display: flex;
	align-items: center;
	justify-content: center;
	margin: 10px auto;
	background: rgb(255,255,255);
	color: rgb(39,174,96);
	width: 100%;
	height: 50px;
	border-radius: 10px 0px 0px 0px;
	max-width: 1000px;
	cursor: pointer;
}

.Footer-Button {
	display: flex;
	justify-content: center;
	color: rgb(255,255,255);
	background: rgb(39,174,96);
	font-size: 16px;
}


/* Fin de Estilos dentro del body  */

/* Aca va el estilo de los formularios*/

/* Formulario Denuncia */

.Wrap-Denuncia {
	width: 90%;
	max-width: 500px;
	padding: 40px;
	margin: auto;
}

.Contenedor-Formulario-Denuncia {
	width: 100%;
	color: #fff;
	padding: 50px;
}

.Contenedor-Formulario-Denuncia .Formulario{
	width: 100%;
	margin: auto;
}

.Contenedor-Formulario-Denuncia .Formulario .Input-Group-Denuncia{
	position: relative;
	margin-bottom: 32px;
}

.Contenedor-Formulario-Denuncia .Formulario .Input-Group-Denuncia input[type="text"],
.Contenedor-Formulario-Denuncia .Formulario .Input-Group-Denuncia input[type="email"],
.Contenedor-Formulario-Denuncia .Formulario .Input-Group-Denuncia input[type="password"]{
	font-family: "Nunito";
	font-size: 16px;
	color: rgb(39,174,96);
	width: 100%;
	outline: none;
	padding: 13px;
	background: none;
	border: none;
	border-bottom: 2px solid rgb(220,237,200);
}

.Contenedor-Formulario-Denuncia .Formulario .Input-Group-Denuncia input[type="text"]:focus,
.Contenedor-Formulario-Denuncia .Formulario .Input-Group-Denuncia input[type="text"]:active,
.Contenedor-Formulario-Denuncia .Formulario .Input-Group-Denuncia input[type="email"]:focus,
.Contenedor-Formulario-Denuncia .Formulario .Input-Group-Denuncia input[type="email"]:active,
.Contenedor-Formulario-Denuncia .Formulario .Input-Group-Denuncia input[type="password"]:focus,
.Contenedor-Formulario-Denuncia .Formulario .Input-Group-Denuncia input[type="password"]:active {
	outline: none;
	border-bottom: 2px solid rgb(39,174,96);
}

.Contenedor-Formulario-Denuncia .Formulario .Input-Group-Denuncia input[type="text"].error,
.Contenedor-Formulario-Denuncia .Formulario .Input-Group-Denuncia input[type="email"].error,
.Contenedor-Formulario-Denuncia .Formulario .Input-Group-Denuncia input[type="password"].error{
	border-bottom: 2px solid rgb(211,47,47);
}

.Contenedor-Formulario-Denuncia .Formulario .Input-Group-Denuncia input[type="text"].error + label,
.Contenedor-Formulario-Denuncia .Formulario .Input-Group-Denuncia input[type="email"].error + label,
.Contenedor-Formulario-Denuncia .Formulario .Input-Group-Denuncia input[type="password"].error + label{
	color: rgb(211,47,47);
}

.Contenedor-Formulario-Denuncia .Formulario .Input-Group-Denuncia label {
	color: rgb(39,174,96);
}

.Contenedor-Formulario-Denuncia .Formulario .Input-Group-Denuncia label.label-Denuncia {
	position: absolute;
	top: 14px;
	left: 0px;
	font-size: 14px;
	line-height: 16px;
	margin-left: 15px;
	-webkit-transition: all 0.3s ease;
	-o-transition: all 0.3s ease;
    transition: all 0.3s ease;
}

.Contenedor-Formulario-Denuncia .Formulario .Input-Group-Denuncia label.label-Denuncia.active {
	top: -12px;
	font-size: 12px;
	line-height: 12px;
	color: rgb(189,189,189);
}

.Contenedor-Formulario-Denuncia .Formulario .Input-Group-Denuncia input[type="file"]{
	width: 0.1px;
	height: 0.1px;
	opacity: 0;
}

.Contenedor-Formulario-Denuncia .Formulario .Input-Group-Denuncia span{
	color: rgb(39,174,96);
	padding-right: 15px;
}

.Contenedor-Formulario-Denuncia .Formulario .Input-Group-Denuncia.error label,
.Contenedor-Formulario-Denuncia .Formulario .Input-Group-Denuncia.error label {
	color: rgb(211,47,47);
}

.Contenedor-Formulario-Denuncia .Formulario .Input-Group-Denuncia.error label:hover,
.Contenedor-Formulario-Denuncia .Formulario .Input-Group-Denuncia.error label:hover {
	background: rgba(211,47,47,.2);
}

.Contenedor-Formulario-Denuncia .Formulario .Input-Group-Denuncia.error label:before,
.Contenedor-Formulario-Denuncia .Formulario .Input-Group-Denuncia.error label:before {
	border: 2px solid rgb(211,47,47);
}

.Contenedor-Formulario-Denuncia .Formulario input[type="Submit"]{
	background: rgb(39,174,96);
	border-radius: 10px;
	border: 2px solid rgb(255,255,255);
	color: rgb(255,255,255);
	cursor: pointer;
	display: inline-block;
	padding: 15px;
	width: 100%;
	font-family: "Nunito";
	font-size: 16px;
	-webkit-transition: all 0.3s ease;
	-o-transition: all 0.3s ease;
    transition: all 0.3s ease;
}

.Contenedor-Formulario-Denuncia .Formulario input[type="Submit"]:hover {
	background: rgb(35,200,104);
}

/* Fin de formulario Denuncia */

/* Inicio Formulario Adopcion */

.Wrap-Adopcion {
	width: 90%;
	max-width: 1000px;
	padding: 40px;
	margin: auto;
	background: rgb(255,255,255);
}

.Posicion-Adopcion {
	display: flex;
	justify-content: space-between;
	align-items: center;
}

.Left-Adopcion, .Rigth-Adopcion{
	width: 48%;
}

.Contenedor-Formulario-Adopcion {
	width: 100%;
	color: #fff;
	padding: 50px;
}

.Contenedor-Formulario-Adopcion .Formulario{
	width: 100%;
	margin: auto;
}

.Contenedor-Formulario-Adopcion .Formulario .Input-Group-Adopcion{
	position: relative;
	margin-bottom: 32px;
}

.Contenedor-Formulario-Adopcion .Formulario .Input-Group-Adopcion input[type="text"],
.Contenedor-Formulario-Adopcion .Formulario .Input-Group-Adopcion input[type="email"],
.Contenedor-Formulario-Adopcion .Formulario .Input-Group-Adopcion input[type="password"]{
	font-family: "Nunito";
	font-size: 16px;
	color: rgb(39,174,96);
	width: 100%;
	outline: none;
	padding: 15px;
	background: none;
	border: none;
	border-bottom: 2px solid rgb(220,237,200);
}

.Contenedor-Formulario-Adopcion .Formulario .Input-Group-Adopcion input[type="date"]{
	font-family: "Nunito";
	font-size: 16px;
	color: rgba(255,255,255,.9);
	width: 100%;
	outline: none;
	padding: 7px;
	background: none;
	border: none;
	border-bottom: 2px solid rgb(220,237,200);	
}

.Contenedor-Formulario-Adopcion .Formulario .Input-Group-Adopcion input[type="text"]:focus,
.Contenedor-Formulario-Adopcion .Formulario .Input-Group-Adopcion input[type="text"]:active,
.Contenedor-Formulario-Adopcion .Formulario .Input-Group-Adopcion input[type="email"]:focus,
.Contenedor-Formulario-Adopcion .Formulario .Input-Group-Adopcion input[type="email"]:active,
.Contenedor-Formulario-Adopcion .Formulario .Input-Group-Adopcion input[type="password"]:focus,
.Contenedor-Formulario-Adopcion .Formulario .Input-Group-Adopcion input[type="password"]:active {
	outline: none;
	border-bottom: 2px solid rgb(39,174,96);
}

.Contenedor-Formulario-Adopcion .Formulario .Input-Group-Adopcion input[type="date"]:focus,
.Contenedor-Formulario-Adopcion .Formulario .Input-Group-Adopcion input[type="date"]:active{
	color: rgb(39,174,96);
	outline: none;
	border-bottom: 2px solid rgb(39,174,96);	
}

.Contenedor-Formulario-Adopcion .Formulario .Input-Group-Adopcion input[type="text"].error,
.Contenedor-Formulario-Adopcion .Formulario .Input-Group-Adopcion input[type="email"].error,
.Contenedor-Formulario-Adopcion .Formulario .Input-Group-Adopcion input[type="password"].error,
.Contenedor-Formulario-Adopcion .Formulario .Input-Group-Adopcion input[type="date"].error{
	border-bottom: 2px solid rgb(211,47,47);
}

.Contenedor-Formulario-Adopcion .Formulario .Input-Group-Adopcion input[type="text"].error + label,
.Contenedor-Formulario-Adopcion .Formulario .Input-Group-Adopcion input[type="email"].error + label,
.Contenedor-Formulario-Adopcion .Formulario .Input-Group-Adopcion input[type="password"].error + label,
.Contenedor-Formulario-Adopcion .Formulario .Input-Group-Adopcion input[type="date"].error + label {
	color: rgb(211,47,47);
}

.Contenedor-Formulario-Adopcion .Formulario .Input-Group-Adopcion label {
	color: rgb(39,174,96);
}

.Contenedor-Formulario-Adopcion .Formulario .Input-Group-Adopcion.Opcional {
	display: none;
}

.Contenedor-Formulario-Adopcion .Formulario .Input-Group-Adopcion label.label-Mascota {
	position: absolute;
	top: 16px;
	left: 0px;
	font-size: 16px;
	line-height: 16px;
	margin-left: 15px;
	-webkit-transition: all 0.3s ease;
	-o-transition: all 0.3s ease;
    transition: all 0.3s ease;
}

.Contenedor-Formulario-Adopcion .Formulario .Input-Group-Adopcion label.label-Mascota.active {
	top: -12px;
	font-size: 12px;
	line-height: 12px;
	color: rgb(189,189,189);
}

.Contenedor-Formulario-Adopcion .Formulario .Input-Group-Adopcion.Checkbox label,
.Contenedor-Formulario-Adopcion .Formulario .Input-Group-Adopcion.Radio label {
	display: inline-block;
	cursor: pointer;
	color: rgb(39,174,96);
	position: relative;
	padding: 5px 15px 5px 51px;
	font-size: 1em;
	border-radius: 3px;
	-webkit-transition: all 0.3s ease;
	-o-transition: all 0.3s ease;
    transition: all 0.3s ease;
}

.Contenedor-Formulario-Adopcion .Formulario .Input-Group-Adopcion.Radio label:hover,
.Contenedor-Formulario-Adopcion .Formulario .Input-Group-Adopcion.Checkbox label:hover {
	background: rgba(220,237,200,1);
}
 
.Contenedor-Formulario-Adopcion .Formulario .Input-Group-Adopcion.Radio label:before {
	content: "";
	display: inline-block;
	width: 17px;
	height: 17px;
	position: absolute;
	left: 15px;
	border-radius: 50%;
	background: none;
	border: 2px solid rgb(39,174,96);
}


.Contenedor-Formulario-Adopcion .Formulario .Input-Group-Adopcion input[type="file"]{
	width: 0.1px;
	height: 0.1px;
	opacity: 0;
}

.Contenedor-Formulario-Adopcion .Formulario .Input-Group-Adopcion span{
	color: rgb(39,174,96);
	padding-right: 15px;
}

.Contenedor-Formulario-Adopcion .Formulario .Input-Group-Adopcion.error label,
.Contenedor-Formulario-Adopcion .Formulario .Input-Group-Adopcion.error label {
	color: rgb(211,47,47);
}

.Contenedor-Formulario-Adopcion .Formulario .Input-Group-Adopcion.error label:hover,
.Contenedor-Formulario-Adopcion .Formulario .Input-Group-Adopcion.error label:hover {
	background: rgba(211,47,47,.2);
}

.Contenedor-Formulario-Adopcion .Formulario .Input-Group-Adopcion.error label:before,
.Contenedor-Formulario-Adopcion .Formulario .Input-Group-Adopcion.error label:before {
	border: 2px solid rgb(211,47,47);
}

.Contenedor-Formulario-Adopcion .Formulario .Input-Group-Adopcion.Radio input[type="radio"],
.Contenedor-Formulario-Adopcion .Formulario .Input-Group-Adopcion.Checkbox input[type="checkbox"] {
	display: none;
}

.Contenedor-Formulario-Adopcion .Formulario .Input-Group-Adopcion.Radio input[type="radio"]:checked + label:before,
.Contenedor-Formulario-Adopcion .Formulario .Input-Group-Adopcion.Checkbox input[type="checkbox"]:checked + label:before {
	display: none;
}

.Contenedor-Formulario-Adopcion .Formulario .Input-Group-Adopcion.Radio input[type="radio"]:checked + label,
.Contenedor-Formulario-Adopcion .Formulario .Input-Group-Adopcion.Checkbox input[type="checkbox"]:checked + label {
	padding: 5px 15px;
	background: rgb(39,174,96);
	border-radius: 2px;
	color: rgb(255,255,255);
}

.Contenedor-Formulario-Adopcion .Formulario input[type="Submit"]{
	background: rgb(39,174,96);
	border-radius: 10px;
	border: 2px solid rgb(255,255,255);
	color: rgb(255,255,255);
	cursor: pointer;
	display: inline-block;
	padding: 15px;
	width: 100%;
	font-family: "Nunito";
	font-size: 16px;
	-webkit-transition: all 0.3s ease;
	-o-transition: all 0.3s ease;
    transition: all 0.3s ease;
}

.Contenedor-Formulario-Adopcion .Formulario input[type="Submit"]:hover {
	background: rgb(35,200,104);
}

/* Fin formulario Adopcion */

/* Formulario Denuncia */

.Wrap-Denuncia {
	width: 90%;
	max-width: 500px;
	padding: 40px;
	margin: auto;
}

.Contenedor-Formulario-Denuncia {
	width: 100%;
	color: #fff;
	padding: 50px;
}

.Contenedor-Formulario-Denuncia .Formulario{
	width: 100%;
	margin: auto;
}

.Contenedor-Formulario-Denuncia .Formulario .Input-Group-Denuncia{
	position: relative;
	margin-bottom: 32px;
}

.Contenedor-Formulario-Denuncia .Formulario .Input-Group-Denuncia input[type="text"],
.Contenedor-Formulario-Denuncia .Formulario .Input-Group-Denuncia input[type="email"],
.Contenedor-Formulario-Denuncia .Formulario .Input-Group-Denuncia input[type="password"]{
	font-family: "Nunito";
	font-size: 16px;
	color: rgb(39,174,96);
	width: 100%;
	outline: none;
	padding: 13px;
	background: none;
	border: none;
	border-bottom: 2px solid rgb(220,237,200);
}

.Contenedor-Formulario-Denuncia .Formulario .Input-Group-Denuncia input[type="text"]:focus,
.Contenedor-Formulario-Denuncia .Formulario .Input-Group-Denuncia input[type="text"]:active,
.Contenedor-Formulario-Denuncia .Formulario .Input-Group-Denuncia input[type="email"]:focus,
.Contenedor-Formulario-Denuncia .Formulario .Input-Group-Denuncia input[type="email"]:active,
.Contenedor-Formulario-Denuncia .Formulario .Input-Group-Denuncia input[type="password"]:focus,
.Contenedor-Formulario-Denuncia .Formulario .Input-Group-Denuncia input[type="password"]:active {
	outline: none;
	border-bottom: 2px solid rgb(39,174,96);
}

.Contenedor-Formulario-Denuncia .Formulario .Input-Group-Denuncia input[type="text"].error,
.Contenedor-Formulario-Denuncia .Formulario .Input-Group-Denuncia input[type="email"].error,
.Contenedor-Formulario-Denuncia .Formulario .Input-Group-Denuncia input[type="password"].error{
	border-bottom: 2px solid rgb(211,47,47);
}

.Contenedor-Formulario-Denuncia .Formulario .Input-Group-Denuncia input[type="text"].error + label,
.Contenedor-Formulario-Denuncia .Formulario .Input-Group-Denuncia input[type="email"].error + label,
.Contenedor-Formulario-Denuncia .Formulario .Input-Group-Denuncia input[type="password"].error + label{
	color: rgb(211,47,47);
}

.Contenedor-Formulario-Denuncia .Formulario .Input-Group-Denuncia label {
	color: rgb(39,174,96);
}

.Contenedor-Formulario-Denuncia .Formulario .Input-Group-Denuncia label.label-Denuncia {
	position: absolute;
	top: 14px;
	left: 0px;
	font-size: 14px;
	line-height: 16px;
	margin-left: 15px;
	-webkit-transition: all 0.3s ease;
	-o-transition: all 0.3s ease;
    transition: all 0.3s ease;
}

.Contenedor-Formulario-Denuncia .Formulario .Input-Group-Denuncia label.label-Denuncia.active {
	top: -12px;
	font-size: 12px;
	line-height: 12px;
	color: rgb(189,189,189);
}

.Contenedor-Formulario-Denuncia .Formulario .Input-Group-Denuncia input[type="file"]{
	width: 0.1px;
	height: 0.1px;
	opacity: 0;
}

.Contenedor-Formulario-Denuncia .Formulario .Input-Group-Denuncia span{
	color: rgb(39,174,96);
	padding-right: 15px;
}

.Contenedor-Formulario-Denuncia .Formulario .Input-Group-Denuncia.error label,
.Contenedor-Formulario-Denuncia .Formulario .Input-Group-Denuncia.error label {
	color: rgb(211,47,47);
}

.Contenedor-Formulario-Denuncia .Formulario .Input-Group-Denuncia.error label:hover,
.Contenedor-Formulario-Denuncia .Formulario .Input-Group-Denuncia.error label:hover {
	background: rgba(211,47,47,.2);
}

.Contenedor-Formulario-Denuncia .Formulario .Input-Group-Denuncia.error label:before,
.Contenedor-Formulario-Denuncia .Formulario .Input-Group-Denuncia.error label:before {
	border: 2px solid rgb(211,47,47);
}

.Contenedor-Formulario-Denuncia .Formulario input[type="Submit"]{
	background: rgb(39,174,96);
	border-radius: 10px;
	border: 2px solid rgb(255,255,255);
	color: rgb(255,255,255);
	cursor: pointer;
	display: inline-block;
	padding: 15px;
	width: 100%;
	font-family: "Nunito";
	font-size: 16px;
	-webkit-transition: all 0.3s ease;
	-o-transition: all 0.3s ease;
    transition: all 0.3s ease;
}

.Contenedor-Formulario-Denuncia .Formulario input[type="Submit"]:hover {
	background: rgb(35,200,104);
}

/* Fin de formulario Denuncia */

/* Formulario Eventos */

.Wrap-Eventos {
	width: 90%;
	max-width: 1000px;
	padding: 40px;
	margin: auto;
	background: rgb(255,255,255);
}

.Posicion-Eventos {
	display: flex;
	justify-content: space-between;
	align-items: center;
}

.Lefth-Eventos, .Rigth-Eventos {
    width: 50%;
}

.Contenedor-Formulario-Eventos {
	width: 100%;
	color: #fff;
}

.Contenedor-Formulario-Eventos .Formulario{
	width: 100%;
	margin: auto;
}

.Contenedor-Formulario-Eventos .Formulario .Input-Group-Eventos {
	position: relative;
	margin-bottom: 32px;
}

.Contenedor-Formulario-Eventos .Formulario .Input-Group-Eventos input[type="text"],
.Contenedor-Formulario-Eventos .Formulario .Input-Group-Eventos input[type="email"],
.Contenedor-Formulario-Eventos .Formulario .Input-Group-Eventos input[type="password"] {
	font-family: "Nunito";
	font-size: 16px;
	color: rgb(39,174,96);
	width: 100%;
	outline: none;
	padding: 7px;
	background: none;
	border: none;
	border-bottom: 2px solid rgb(220,237,200);
}

.Contenedor-Formulario-Eventos .Formulario .Input-Group-Eventos input[type="date"]{
	font-family: "Nunito";
	font-size: 16px;
	color: rgba(255,255,255,.9);
	width: 100%;
	outline: none;
	padding: 7px;
	background: none;
	border: none;
	border-bottom: 2px solid rgb(220,237,200);	
}

.Contenedor-Formulario-Eventos .Formulario .Input-Group-Eventos input[type="text"]:focus,
.Contenedor-Formulario-Eventos .Formulario .Input-Group-Eventos input[type="text"]:active,
.Contenedor-Formulario-Eventos .Formulario .Input-Group-Eventos input[type="email"]:focus,
.Contenedor-Formulario-Eventos .Formulario .Input-Group-Eventos input[type="email"]:active,
.Contenedor-Formulario-Eventos .Formulario .Input-Group-Eventos input[type="password"]:focus,
.Contenedor-Formulario-Eventos .Formulario .Input-Group-Eventos input[type="password"]:active {
	outline: none;
	border-bottom: 2px solid rgb(39,174,96);
}

.Contenedor-Formulario-Eventos .Formulario .Input-Group-Eventos input[type="date"]:focus,
.Contenedor-Formulario-Eventos .Formulario .Input-Group-Eventos input[type="date"]:active{
	color: rgb(39,174,96);
	outline: none;
	border-bottom: 2px solid rgb(39,174,96);	
}

.Contenedor-Formulario-Eventos .Formulario .Input-Group-Eventos input[type="text"].error,
.Contenedor-Formulario-Eventos .Formulario .Input-Group-Eventos input[type="email"].error,
.Contenedor-Formulario-Eventos .Formulario .Input-Group-Eventos input[type="password"].error,
.Contenedor-Formulario-Eventos .Formulario .Input-Group-Eventos input[type="date"].error{
	border-bottom: 2px solid rgb(211,47,47);
}

.Contenedor-Formulario-Eventos .Formulario .Input-Group-Eventos input[type="text"].error + label,
.Contenedor-Formulario-Eventos .Formulario .Input-Group-Eventos input[type="email"].error + label,
.Contenedor-Formulario-Eventos .Formulario .Input-Group-Eventos input[type="password"].error + label,
.Contenedor-Formulario-Eventos .Formulario .Input-Group-Eventos input[type="date"].error + label {
	color: rgb(211,47,47);
}

.Contenedor-Formulario-Eventos .Formulario .Input-Group-Eventos label {
	color: rgb(39,174,96);
}

.Contenedor-Formulario-Eventos .Formulario .Input-Group-Eventos label.label-Eventos {
	position: absolute;
	top: 13px;
	left: 0px;
	font-size: 16px;
	line-height: 16px;
	margin-left: 15px;
	-webkit-transition: all 0.3s ease;
	-o-transition: all 0.3s ease;
    transition: all 0.3s ease;
}

.Contenedor-Formulario-Eventos .Formulario .Input-Group-Eventos label.label-Eventos.active {
	top: -11px;
	font-size: 11px;
	line-height: 12px;
	color: rgb(189,189,189);
}

.Contenedor-Formulario-Eventos .Formulario .Input-Group-Eventos input[type="file"]{
	width: 0.1px;
	height: 0.1px;
	opacity: 0;
}

.Contenedor-Formulario-Eventos .Formulario .Input-Group-Eventos span{
	cursor: pointer;
	color: rgb(39,174,96);
	padding-right: 15px;
}

.Contenedor-Formulario-Eventos .Formulario .Input-Group-Eventos.error label {
	color: rgb(211,47,47);
}

.Contenedor-Formulario-Eventos .Formulario .Input-Group-Eventos.error label:hover {
	background: rgba(211,47,47,.2);
}

.Contenedor-Formulario-Eventos .Formulario .Input-Group-Eventos.error label:before {
	border: 2px solid rgb(211,47,47);
}

.Contenedor-Formulario-Eventos .Formulario input[type="Submit"]{
	background: rgb(39,174,96);
	border-radius: 10px;
	border: 2px solid rgb(255,255,255);
	color: rgb(255,255,255);
	cursor: pointer;
	display: inline-block;
	padding: 15px;
	width: 100%;
	font-family: "Nunito";
	font-size: 16px;
	-webkit-transition: all 0.3s ease;
	-o-transition: all 0.3s ease;
    transition: all 0.3s ease;
}

.Contenedor-Formulario-Eventos .Formulario input[type="Submit"]:hover {
	background: rgb(35,200,104);
}

/* Fin de formulario Eventos */


/* Formulario Tips*/

.Wrap-Tips {
	width: 90%;
	max-width: 1000px;
	padding: 40px;
	margin: auto;
	background: rgb(255,255,255);
}

.Posicion-Tips{
	display: flex;
	justify-content: space-between;
	align-items: center;
}

.Lefth-Tips, .Rigth-Tips {
    width: 50%;
}

.Contenedor-Formulario-Tips {
	width: 100%;
	color: #fff;
}

.Contenedor-Formulario-Tips .Formulario{
	width: 100%;
	margin: auto;
}

.Contenedor-Formulario-Tips .Formulario .Input-Group-Tips {
	position: relative;
	margin-bottom: 32px;
}

.Contenedor-Formulario-Tips .Formulario .Input-Group-Tips input[type="text"] {
	font-family: "Nunito";
	font-size: 16px;
	color: rgb(39,174,96);
	width: 100%;
	outline: none;
	padding: 7px;
	background: none;
	border: none;
	border-bottom: 2px solid rgb(220,237,200);
}

.Contenedor-Formulario-Tips .Formulario .Input-Group-Tips input[type="text"]:focus,
.Contenedor-Formulario-Tips .Formulario .Input-Group-Tips input[type="text"]:active{
	outline: none;
	border-bottom: 2px solid rgb(39,174,96);
}


.Contenedor-Formulario-Tips .Formulario .Input-Group-Tips input[type="text"].error{
	border-bottom: 2px solid rgb(211,47,47);
}

.Contenedor-Formulario-Tips .Formulario .Input-Group-Tips input[type="text"].error + label {
	color: rgb(211,47,47);
}

.Contenedor-Formulario-Tips .Formulario .Input-Group-Tips label {
	color: rgb(39,174,96);
}

.Contenedor-Formulario-Tips .Formulario .Input-Group-Tips label.label-Tip {
	position: absolute;
	top: 13px;
	left: 0px;
	font-size: 16px;
	line-height: 16px;
	margin-left: 15px;
	-webkit-transition: all 0.3s ease;
	-o-transition: all 0.3s ease;
    transition: all 0.3s ease;
}

.Contenedor-Formulario-Tips .Formulario .Input-Group-Tips label.label-Tip.active {
	top: -11px;
	font-size: 11px;
	line-height: 12px;
	color: rgb(189,189,189);
}

.Contenedor-Formulario-Tips .Formulario .Input-Group-Tips input[type="file"]{
	width: 0.1px;
	height: 0.1px;
	opacity: 0;
}

.Contenedor-Formulario-Tips .Formulario .Input-Group-Tips span{
	cursor: pointer;
	color: rgb(39,174,96);
	padding-right: 15px;
}

.Contenedor-Formulario-Tips .Formulario .Input-Group-Tips.error label {
	color: rgb(211,47,47);
}

.Contenedor-Formulario-Tips .Formulario .Input-Group-Tips.error label:hover {
	background: rgba(211,47,47,.2);
}

.Contenedor-Formulario-Tips .Formulario .Input-Group-Tips.error label:before {
	border: 2px solid rgb(211,47,47);
}

.Contenedor-Formulario-Tips .Formulario input[type="Submit"]{
	background: rgb(39,174,96);
	border-radius: 10px;
	border: 2px solid rgb(255,255,255);
	color: rgb(255,255,255);
	cursor: pointer;
	display: inline-block;
	padding: 15px;
	width: 100%;
	font-family: "Nunito";
	font-size: 16px;
	-webkit-transition: all 0.3s ease;
	-o-transition: all 0.3s ease;
    transition: all 0.3s ease;
}

.Contenedor-Formulario-Tips .Formulario input[type="Submit"]:hover {
	background: rgb(35,200,104);
}

/* Fin de formulario Tips */


/* Formulario Ciudadano */

.Wrap-Ciudadanos,
.Wrap-Veterinaria,
.Wrap-SASS,
.Wrap-Administrador,
.Wrap-Listas {
    width: 100%;
    max-width: 1000px;
    padding: 20px;
    border-radius: 0px 0px 20px;
    margin: -10px auto;
    background: rgb(255,255,255);
}

.Posicion-Usuarios {
    display: flex;
    justify-content: space-between;
    align-items: center;
}

.Left-Usuarios, .Rigth-Usuarios {
    width: 48%;
}


.Contenedor-Formulario-Usuarios {
    width: 100%;
    color: #fff;
}

.Contenedor-Formulario-Usuarios .Formulario{
    width: 100%;
    margin: auto;
}

.Contenedor-Formulario-Usuarios .Formulario .Input-Group-Usuarios {
    position: relative;
    margin-bottom: 32px;
}

.Contenedor-Formulario-Usuarios .Formulario .Input-Group-Usuarios input[type="text"],
.Contenedor-Formulario-Usuarios .Formulario .Input-Group-Usuarios input[type="email"],
.Contenedor-Formulario-Usuarios .Formulario .Input-Group-Usuarios input[type="password"] {
    font-family: "Nunito";
    font-size: 16px;
    color: rgb(39,174,96);
    width: 100%;
    outline: none;
    padding: 7px;
    background: none;
    border: none;
    border-bottom: 2px solid rgb(220,237,200);
}

.Contenedor-Formulario-Usuarios .Formulario .Input-Group-Usuarios input[type="date"]{
    font-family: "Nunito";
    font-size: 16px;
    color: rgba(255,255,255,.9);
    width: 100%;
    outline: none;
    padding: 7px;
    background: none;
    border: none;
    border-bottom: 2px solid rgb(220,237,200);	
}

.Contenedor-Formulario-Usuarios .Formulario .Input-Group-Usuarios input[type="text"]:focus,
.Contenedor-Formulario-Usuarios .Formulario .Input-Group-Usuarios input[type="text"]:active,
.Contenedor-Formulario-Usuarios .Formulario .Input-Group-Usuarios input[type="email"]:focus,
.Contenedor-Formulario-Usuarios .Formulario .Input-Group-Usuarios input[type="email"]:active,
.Contenedor-Formulario-Usuarios .Formulario .Input-Group-Usuarios input[type="password"]:focus,
.Contenedor-Formulario-Usuarios .Formulario .Input-Group-Usuarios input[type="password"]:active {
    outline: none;
    border-bottom: 2px solid rgb(39,174,96);
}

.Contenedor-Formulario-Usuarios .Formulario .Input-Group-Usuarios input[type="date"]:focus,
.Contenedor-Formulario-Usuarios .Formulario .Input-Group-Usuarios input[type="date"]:active{
    color: rgb(39,174,96);
    outline: none;
    border-bottom: 2px solid rgb(39,174,96);	
}

.Contenedor-Formulario-Usuarios .Formulario .Input-Group-Usuarios input[type="text"].error,
.Contenedor-Formulario-Usuarios .Formulario .Input-Group-Usuarios input[type="email"].error,
.Contenedor-Formulario-Usuarios .Formulario .Input-Group-Usuarios input[type="password"].error,
.Contenedor-Formulario-Usuarios .Formulario .Input-Group-Usuarios input[type="date"].error{
    border-bottom: 2px solid rgb(211,47,47);
}

.Contenedor-Formulario-Usuarios .Formulario .Input-Group-Usuarios input[type="text"].error + label,
.Contenedor-Formulario-Usuarios .Formulario .Input-Group-Usuarios input[type="email"].error + label,
.Contenedor-Formulario-Usuarios .Formulario .Input-Group-Usuarios input[type="password"].error + label,
.Contenedor-Formulario-Usuarios .Formulario .Input-Group-Usuarios input[type="date"].error + label {
    color: rgb(211,47,47);
}

.Contenedor-Formulario-Usuarios .Formulario .Input-Group-Usuarios label {
    color: rgb(39,174,96);
}

.Contenedor-Formulario-Usuarios .Formulario .Input-Group-Usuarios label.label-Usuarios {
    position: absolute;
    top: 13px;
    left: 0px;
    font-size: 16px;
    line-height: 16px;
    margin-left: 15px;
    -webkit-transition: all 0.3s ease;
    -o-transition: all 0.3s ease;
    transition: all 0.3s ease;
}

.Contenedor-Formulario-Usuarios .Formulario .Input-Group-Usuarios label.label-Usuarios.active {
    top: -11px;
    font-size: 11px;
    line-height: 12px;
    color: rgb(189,189,189);
}

.Contenedor-Formulario-Usuarios .Formulario .Input-Group-Usuarios input[type="file"]{
    width: 0.1px;
    height: 0.1px;
    opacity: 0;
}

.Contenedor-Formulario-Usuarios .Formulario .Input-Group-Usuarios span{
    cursor: pointer;
    color: rgb(39,174,96);
    padding-right: 15px;
}

.Contenedor-Formulario-Usuarios .Formulario .Input-Group-Usuarios.Radio label {
    display: inline-block;
    cursor: pointer;
    color: rgb(39,174,96);
    position: relative;
    padding: 1px 15px 1px 51px;
    font-size: 16px;
    border-radius: 3px;
    -webkit-transition: all 0.3s ease;
    -o-transition: all 0.3s ease;
    transition: all 0.3s ease;
}

.Contenedor-Formulario-Usuarios .Formulario .Input-Group-Usuarios.Radio label:hover {
    background: rgba(220,237,200,1);
}

.Contenedor-Formulario-Usuarios .Formulario .Input-Group-Usuarios.Radio label:before {
    content: "";
    display: inline-block;
    width: 16px;
    height: 16px;
    position: absolute;
    left: 15px;
    border-radius: 50%;
    background: none;
    border: 2px solid rgb(39,174,96);
}

.Contenedor-Formulario-Usuarios .Formulario .Input-Group-Usuarios.error label {
    color: rgb(211,47,47);
}

.Contenedor-Formulario-Usuarios .Formulario .Input-Group-Usuarios.error label:hover {
    background: rgba(211,47,47,.2);
}

.Contenedor-Formulario-Usuarios .Formulario .Input-Group-Usuarios.error label:before {
    border: 2px solid rgb(211,47,47);
}

.Contenedor-Formulario-Usuarios .Formulario .Input-Group-Usuarios.Radio input[type="radio"]{
    display: none;
}

.Contenedor-Formulario-Usuarios .Formulario .Input-Group-Usuarios.Radio input[type="radio"]:checked + label:before {
    display: none;
}

.Contenedor-Formulario-Usuarios .Formulario .Input-Group-Usuarios.Radio input[type="radio"]:checked + label{
    padding: 5px 15px;
    background: rgb(39,174,96);
    border-radius: 2px;
    color: rgb(255,255,255);
}

.Contenedor-Formulario-Usuarios .Formulario input[type="Submit"]{
    background: rgb(39,174,96);
    border-radius: 10px;
    border: 2px solid rgb(255,255,255);
    color: rgb(255,255,255);
    cursor: pointer;
    display: inline-block;
    padding: 15px;
    width: 100%;
    font-family: "Nunito";
    font-size: 16px;
    -webkit-transition: all 0.3s ease;
    -o-transition: all 0.3s ease;
    transition: all 0.3s ease;
}

.Contenedor-Formulario-Usuarios .Formulario input[type="Submit"]:hover {
    background: rgb(35,200,104);
}

/* Fin de formulario Ciudadano */


/* Fin de estilo de formularios*/

/* Inicio de Responsive */

@media screen and (max-width: 990px){

	header {
		background: none;
	}

	header .Menu {
		width: 100%;
		display: flex;
		align-items: initial;
		flex-direction: column-reverse;
	}
	header .Menu .Usuario {
		background: rgb(39,174,96);
		display: flex;
		flex-direction: row;
		justify-content: space-between;
		width: 100%;
	}

	header .Menu .Usuario .btn-menu {
		display: inline-block;
		padding: 1em;
	}

	header .Menu .Enlaces {
		background: rgb(39,174,96);
		width: 50%;
		height: 40vh;
		display: flex;
		flex-direction: column;
	}

	.Contenido-Modal {
		width: 60%;
	}

	.Denuncias,.Adopcion,.Eventos,.Tips,.Contactenos {
		height: 100%;
	}

	main .Denuncias .Contenido-Denuncias {
		display: flex;
		flex-direction: column;
		height: 100%;
	}

	main .Denuncias .Contenido-Denuncias .Informacion {
		display: flex;
		flex-direction: column-reverse;
		height: 100%;
		width: 100%;
	}

	main .Contactenos .Contenido-Contactenos {
		display: flex;
		flex-direction: column;
		height: 100%;

	}

	main article {
		height: 100%;
	}

}

@media screen and (max-width: 550px){
	.Contenido-Modal {
		width: 90%;
		min-width: 350px;
	}

	header .Menu .Enlaces {
		background: rgb(39,174,96);
		width: 90%;
		height: 40vh;
		display: flex;
		flex-direction: column;
	}
}

/* Fin de Responsive */