/* Estilos para todo */

* {
	margin: 0;
	padding: 0;
	box-sizing: border-box;
}

body {
	background: rgb(220,237,200) url("../Imagenes/Fondo.jpg");
	background-repeat: no-repeat;
	background-size: cover;
	background-attachment: fixed;
	font-family: 'Nunito Sans', sans-serif arial;
	font-size: 16px;
	padding-top: 55px;
}


/* Aca terminan los estilos generales */

 /* aca va todo sobre el menu */

header {
	background: rgb(39,174,96);
	position: fixed;
	width: 100%;
	min-width: 350px;
	top: 0;
	z-index: 2;
}

.Menu {
	width: 100%;
	margin: auto;
	display: flex;
	flex-direction: row;
	justify-content: space-between;
}

.Menu .btn-menu{
	display: none;
	color: rgb(255,255,255);
	text-decoration: none;
	font-size: 1em;
}

.Menu .Usuario {
	margin-right: 1em;
}

.Menu .Usuario .Perfil {
	color: rgb(255,255,255);
	text-decoration: none;
	display: flex;
	align-items: center;
	width: 200px;
	text-align: center;
	font-size: 1em;
	padding: 0.3em;
    cursor: pointer;
}

.Menu .Usuario .Perfil a{
	padding: .6em ;
	display: inline-block;
	text-decoration: none;
	color: rgb(255,255,255);
	text-align: center;
	margin: auto;
}

.Menu .Usuario .Perfil img{
	margin: auto;
	border-radius: 50%;
	width: 40px;
	height: 40px;
	border: 1px solid rgb(255,255,255);
}

.Menu .Usuario .Perfil:hover {
	background: rgb(39,230,130);
}

.Menu .Enlaces {
	background: rgb(39,174,96);
	display: inline-block;
	text-align: left;
}

.Menu .Enlaces a {
	color: rgb(255,255,255);
	text-decoration: none;
	display: inline-block;
	padding: 1em;
	text-align: left;
	font-size: 1em;
}

.Menu .Enlaces i {
	margin-right: 5px;
}

.Menu .Enlaces a:hover {
	background: rgb(254,249,231);
	color: rgb(39,174,96);
	border-right: 1px solid rgb(39,174,96);
}

/* Efectos del menu */

.headroom {
	transition: transform .3s ease;
}

.headroom--pinned {
	transform: translateY(0%);
}

.headroom--unpinned {
	transform:  translateY(-130%);
}

.headroom--bottom {
	transform: translateY(0%);
}

/* Finalizamos los efectos del menu */

/* Aca termina todo del menu */

/* todo lo de ventana modal */

.flex-Contrasena {
	width: 100%;
	height: 100%;
	display: flex;
	justify-content: space-between;
	align-items: center;
}

.Modal-Contrasena {
	display: none;
	position: fixed;
	z-index: 1;
	overflow: auto;
	left: 0;
	top: 0;
	width: 100%;
	height: 100%;
	background: rgba(0,0,0,0.8);
}

.Contenido-Modal-Contrasena {
	background: rgb(255,255,255);
	position: relative;
	margin: auto;
	width: 40%;
	box-shadow: 0 0 6px 0 rgba(0,0,0,5);
	animation-name: modal;
	animation-duration: 1s;
}

/*  Creacion de animacion */

@keyframes modal{
	from{
		top: -100%; 
		opacity: 0;
	}
	to {
		top: 0;
		opacity: 1;
	}
}

/* Terminamos de crear la animacion */

.close {
	color: rgb(255,255,255);
	font-size: 30px;
	font-weight: bold;
}

.close:hover {
	color: rgb(117,117,117);
	text-decoration: none;
	cursor: pointer;
}

.Header-Modal-Contrasena, .Footer-Modal-Contrasena {
	padding: 8px 16px;
	background: rgb(39,174,96);
	color: rgb(255,255,255);
}

.Footer-Modal-Contrasena a{
	cursor: pointer;
}

.Body-Modal-Contrasena {
	text-align: justify;
	padding: 20px 16px;
}

/* Terminamos todo lo relacionado con la ventana modal */
/* todo lo de ventana modal de contraseña */

.flex-Contrasena {
	width: 100%;
	height: 100%;
	display: flex;
	justify-content: space-between;
	align-items: center;
}

.Modal-Contrasena {
	display: none;
	position: fixed;
	z-index: 1;
	overflow: auto;
	left: 0;
	top: 0;
	width: 100%;
	height: 100%;
	background: rgba(0,0,0,0.8);
}

.Contenido-Modal-Contrasena {
	background: rgb(255,255,255);
	position: relative;
	margin: auto;
	width: 40%;
	box-shadow: 0 0 6px 0 rgba(0,0,0,5);
	animation-name: modal;
	animation-duration: 1s;
}

/*  Creacion de animacion */

@keyframes modal{
	from{
		top: -100%; 
		opacity: 0;
	}
	to {
		top: 0;
		opacity: 1;
	}
}

/* Terminamos de crear la animacion */

.close {
	color: rgb(255,255,255);
	font-size: 30px;
	font-weight: bold;
}

.close:hover {
	color: rgb(117,117,117);
	text-decoration: none;
	cursor: pointer;
}

.Header-Modal-Contrasena, .Footer-Modal-Contrasena {
	padding: 8px 16px;
	background: rgb(39,174,96);
	color: rgb(255,255,255);
}

.Footer-Modal-Contrasena a{
	cursor: pointer;
}

.Body-Modal-Contrasena {
	text-align: justify;
	padding: 20px 16px;
}

/* Terminamos todo lo relacionado con la ventana modal */

/* Inicio Formulario Contrasena */


.Contenedor-Formulario-Contrasena {
	width: 100%;
	color: #fff;
	padding: 8px;
}

.Contenedor-Formulario-Contrasena .Formulario{
	width: 100%;
	margin: auto;
}

.Contenedor-Formulario-Contrasena .Formulario .Input-Group-Contrasena{
	position: relative;
	margin-bottom: 32px;
}

.Contenedor-Formulario-Contrasena .Formulario .Input-Group-Contrasena input[type="text"],
.Contenedor-Formulario-Contrasena .Formulario .Input-Group-Contrasena input[type="email"],
.Contenedor-Formulario-Contrasena .Formulario .Input-Group-Contrasena input[type="password"]{
	font-family: "Nunito";
	font-size: 16px;
	color: rgb(39,174,96);
	width: 100%;
	outline: none;
	padding: 16px;
	background: none;
	border: none;
	border-bottom: 2px solid rgb(220,237,200);
}

.Contenedor-Formulario-Contrasena .Formulario .Input-Group-Contrasena input[type="date"]{
	font-family: "Nunito";
	font-size: 16px;
	color: rgba(255,255,255,.9);
	width: 100%;
	outline: none;
	padding: 7px;
	background: none;
	border: none;
	border-bottom: 2px solid rgb(220,237,200);	
}

.Contenedor-Formulario-Contrasena .Formulario .Input-Group-Contrasena input[type="text"]:focus,
.Contenedor-Formulario-Contrasena .Formulario .Input-Group-Contrasena input[type="text"]:active,
.Contenedor-Formulario-Contrasena .Formulario .Input-Group-Contrasena input[type="email"]:focus,
.Contenedor-Formulario-Contrasena .Formulario .Input-Group-Contrasena input[type="email"]:active,
.Contenedor-Formulario-Contrasena .Formulario .Input-Group-Contrasena input[type="password"]:focus,
.Contenedor-Formulario-Contrasena .Formulario .Input-Group-Contrasena input[type="password"]:active {
	outline: none;
	border-bottom: 2px solid rgb(39,174,96);
}

.Contenedor-Formulario-Contrasena .Formulario .Input-Group-Contrasena input[type="date"]:focus,
.Contenedor-Formulario-Contrasena .Formulario .Input-Group-Contrasena input[type="date"]:active{
	color: rgb(39,174,96);
	outline: none;
	border-bottom: 2px solid rgb(39,174,96);	
}

.Contenedor-Formulario-Contrasena .Formulario .Input-Group-Contrasena input[type="text"].error,
.Contenedor-Formulario-Contrasena .Formulario .Input-Group-Contrasena input[type="email"].error,
.Contenedor-Formulario-Contrasena .Formulario .Input-Group-Contrasena input[type="password"].error,
.Contenedor-Formulario-Contrasena .Formulario .Input-Group-Contrasena input[type="date"].error{
	border-bottom: 2px solid rgb(211,47,47);
}

.Contenedor-Formulario-Contrasena .Formulario .Input-Group-Contrasena input[type="text"].error + label,
.Contenedor-Formulario-Contrasena .Formulario .Input-Group-Contrasena input[type="email"].error + label,
.Contenedor-Formulario-Contrasena .Formulario .Input-Group-Contrasena input[type="password"].error + label,
.Contenedor-Formulario-Contrasena .Formulario .Input-Group-Contrasena input[type="date"].error + label {
	color: rgb(211,47,47);
}

.Contenedor-Formulario-Contrasena .Formulario .Input-Group-Contrasena label {
	color: rgb(39,174,96);
}

.Contenedor-Formulario-Contrasena .Formulario .Input-Group-Contrasena label.label-Contrasena {
	position: absolute;
	top: 16px;
	left: 0px;
	font-size: 16px;
	line-height: 16px;
	margin-left: 16px;
	-webkit-transition: all 0.3s ease;
	-o-transition: all 0.3s ease;
    transition: all 0.3s ease;
}

.Contenedor-Formulario-Contrasena .Formulario .Input-Group-Contrasena label.label-Contrasena.active {
	top: -12px;
	font-size: 12px;
	line-height: 12px;
	color: rgb(189,189,189);
}

.Contenedor-Formulario-Contrasena .Formulario .Input-Group-Contrasena.error label,
.Contenedor-Formulario-Contrasena .Formulario .Input-Group-Contrasena.error label {
	color: rgb(211,47,47);
}

.Contenedor-Formulario-Contrasena .Formulario .Input-Group-Contrasena.error label:hover,
.Contenedor-Formulario-Contrasena .Formulario .Input-Group-Contrasena.error label:hover {
	background: rgba(211,47,47,.2);
}

.Contenedor-Formulario-Contrasena .Formulario .Input-Group-Contrasena.error label:before,
.Contenedor-Formulario-Contrasena .Formulario .Input-Group-Contrasena.error label:before {
	border: 2px solid rgb(211,47,47);
}

.Contenedor-Formulario-Contrasena .Formulario input[type="Submit"]{
	background: rgb(39,174,96);
	border-radius: 10px;
	border: 2px solid rgb(255,255,255);
	color: rgb(255,255,255);
	cursor: pointer;
	display: inline-block;
	padding: 16px;
	width: 100%;
	font-family: "Nunito";
	font-size: 16px;
	-webkit-transition: all 0.3s ease;
	-o-transition: all 0.3s ease;
    transition: all 0.3s ease;
}

.Contenedor-Formulario-Contrasena .Formulario input[type="Submit"]:hover {
	background: rgb(35,200,104);
}

/* Fin formulario Contrasena */

/* Comienzo de Perfil Usuario */

.Espacio-Perfil {
	position: fixed;
	margin: -5px auto; 
	width: 100%;
	background: none;
	text-align: right;
}

.PerfilUsuario {
	float: right;
	width: 201px;
	height: 218px;
	background: rgb(39,174,96);
	color: rgb(255,255,255);
	text-align: right;
	font-size: 1em;
	font-family: "Nunito";
	cursor: pointer;
	margin-right: 15px;
}

.PerfilUsuario .Enlaces-Perfil {
	display: flex;
	flex-direction: column;
}

.PerfilUsuario .Enlaces-Perfil a{
	background: none;
	border: none;
	padding: 1em;
	flex-direction: column;
	text-decoration: none;
	display: inline-block;
	color: rgb(255,255,255);
	font-size: 1em;
}

.PerfilUsuario .Enlaces-Perfil button{
	background: none;
	cursor: pointer;
	border: none;
	padding: 1em;
	text-decoration: none;
	display: inline-block;
	color: rgb(255,255,255);
	font-size: 1em;
}

.PerfilUsuario .Enlaces-Perfil i{
	margin-right: 5px;
}

.PerfilUsuario .Enlaces-Perfil a:Hover{
	background: rgb(254,249,231);
	flex-direction: column;
	color: rgb(39,174,96);
}

.PerfilUsuario .Enlaces-Perfil .Notifi:Hover{
	background: rgb(39,174,96);
	flex-direction: column;
	color: rgb(254,249,231);
}

/*Finaliza PErfil Usuario */

/* Aca va lo relacionado con articulos y contenido dentro del body */

.Contenedor {
	width: 100%;
}

main article {
	width: 100%;
	height: 100vh;
	min-width: 350px;
	margin: 0px auto;
	padding: 20px;
}

main .Cabezera{
	width: 100%;
	height: 150px;
	display: flex;
	margin: -50px auto 0px auto;
	padding-top: 25px;
	align-items: center;
	justify-content: center;
	background: rgba(255,255,255,.5);
}

main article h1 {
	font-weight: normal;
	margin-bottom: .5em;
}

main article hr {
	margin-bottom: 1em;
	background: rgb(39,174,96);
	border: none;
}

main article p {
	margin-bottom: 1em;
}


.fa-eye{
    text-align: right;
    float: right;
    cursor: pointer;
}

.Mascotas {
	width: 100%;
	height: 100vh;
	margin: 0 auto;
	background: rgba(248,255,178,.8);
	background-attachment: fixed;	
}

.Eventos {
	width: 100%;
	height: 100vh;
	margin: 0 auto;
	background: rgba(209,255,178,.8);
	background-attachment: fixed;
}

.Tips {
	width: 100%;
	height: 100vh;
	margin: 0 auto;
	background: rgba(178,255,186,.8);
	background-attachment: fixed;
}

.Usuarios {
	width: 100%;
	height: 100%;
	margin: 0 auto;
	background: rgb(39,174,96);
	background-attachment: fixed;
}
.Listas {
	width: 100%;
	height: 100%;
	margin: 0 auto;
	background: rgb(39,174,96);
	background-attachment: fixed;
}



.Footer-Button {
	display: flex;
	justify-content: center;
	color: rgb(255,255,255);
	background: rgb(39,174,96);
	font-size: 16px;
}

/* Fin de Estilos dentro del body  */

/* Aca va el estilo de los formularios*/

/* Inicio Formulario Adopcion */

.Wrap-Adopcion {
	width: 90%;
	max-width: 1000px;
	padding: 40px;
	margin: auto;
	background: rgb(255,255,255);
}

.Posicion-Adopcion {
	display: flex;
	justify-content: space-between;
	align-items: center;
}

.Left-Adopcion, .Rigth-Adopcion{
	width: 50%;
}

.Contenedor-Formulario-Adopcion {
	width: 100%;
	color: #fff;
	padding: 8px;
}

.Contenedor-Formulario-Adopcion .Formulario{
	width: 100%;
	margin: auto;
}

.Contenedor-Formulario-Adopcion .Formulario .Input-Group-Adopcion{
	position: relative;
	margin-bottom: 32px;
}

.Contenedor-Formulario-Adopcion .Formulario .Input-Group-Adopcion input[type="text"],
.Contenedor-Formulario-Adopcion .Formulario .Input-Group-Adopcion input[type="email"],
.Contenedor-Formulario-Adopcion .Formulario .Input-Group-Adopcion input[type="password"]{
	font-family: "Nunito";
	font-size: 16px;
	color: rgb(39,174,96);
	width: 100%;
	outline: none;
	padding: 16px;
	background: none;
	border: none;
	border-bottom: 2px solid rgb(220,237,200);
}

.Contenedor-Formulario-Adopcion .Formulario .Input-Group-Adopcion input[type="date"]{
	font-family: "Nunito";
	font-size: 16px;
	color: rgba(255,255,255,.9);
	width: 100%;
	outline: none;
	padding: 7px;
	background: none;
	border: none;
	border-bottom: 2px solid rgb(220,237,200);	
}

.Contenedor-Formulario-Adopcion .Formulario .Input-Group-Adopcion input[type="text"]:focus,
.Contenedor-Formulario-Adopcion .Formulario .Input-Group-Adopcion input[type="text"]:active,
.Contenedor-Formulario-Adopcion .Formulario .Input-Group-Adopcion input[type="email"]:focus,
.Contenedor-Formulario-Adopcion .Formulario .Input-Group-Adopcion input[type="email"]:active,
.Contenedor-Formulario-Adopcion .Formulario .Input-Group-Adopcion input[type="password"]:focus,
.Contenedor-Formulario-Adopcion .Formulario .Input-Group-Adopcion input[type="password"]:active {
	outline: none;
	border-bottom: 2px solid rgb(39,174,96);
}

.Contenedor-Formulario-Adopcion .Formulario .Input-Group-Adopcion input[type="date"]:focus,
.Contenedor-Formulario-Adopcion .Formulario .Input-Group-Adopcion input[type="date"]:active{
	color: rgb(39,174,96);
	outline: none;
	border-bottom: 2px solid rgb(39,174,96);	
}

.Contenedor-Formulario-Adopcion .Formulario .Input-Group-Adopcion input[type="text"].error,
.Contenedor-Formulario-Adopcion .Formulario .Input-Group-Adopcion input[type="email"].error,
.Contenedor-Formulario-Adopcion .Formulario .Input-Group-Adopcion input[type="password"].error,
.Contenedor-Formulario-Adopcion .Formulario .Input-Group-Adopcion input[type="date"].error{
	border-bottom: 2px solid rgb(211,47,47);
}

.Contenedor-Formulario-Adopcion .Formulario .Input-Group-Adopcion input[type="text"].error + label,
.Contenedor-Formulario-Adopcion .Formulario .Input-Group-Adopcion input[type="email"].error + label,
.Contenedor-Formulario-Adopcion .Formulario .Input-Group-Adopcion input[type="password"].error + label,
.Contenedor-Formulario-Adopcion .Formulario .Input-Group-Adopcion input[type="date"].error + label {
	color: rgb(211,47,47);
}

.Contenedor-Formulario-Adopcion .Formulario .Input-Group-Adopcion label {
	color: rgb(39,174,96);
}

.Contenedor-Formulario-Adopcion .Formulario .Input-Group-Adopcion.Opcional {
	display: none;
}

.Contenedor-Formulario-Adopcion .Formulario .Input-Group-Adopcion label.label-Mascota {
	position: absolute;
	top: 16px;
	left: 0px;
	font-size: 16px;
	line-height: 16px;
	margin-left: 16px;
	-webkit-transition: all 0.3s ease;
	-o-transition: all 0.3s ease;
    transition: all 0.3s ease;
}

.Contenedor-Formulario-Adopcion .Formulario .Input-Group-Adopcion label.label-Mascota.active {
	top: -12px;
	font-size: 12px;
	line-height: 12px;
	color: rgb(189,189,189);
}

.Contenedor-Formulario-Adopcion .Formulario .Input-Group-Adopcion.Checkbox label,
.Contenedor-Formulario-Adopcion .Formulario .Input-Group-Adopcion.Radio label {
	display: inline-block;
	cursor: pointer;
	color: rgb(39,174,96);
	position: relative;
	padding: 5px 15px 5px 51px;
	font-size: 1em;
	border-radius: 3px;
	-webkit-transition: all 0.3s ease;
	-o-transition: all 0.3s ease;
    transition: all 0.3s ease;
}

.Contenedor-Formulario-Adopcion .Formulario .Input-Group-Adopcion.Radio label:hover,
.Contenedor-Formulario-Adopcion .Formulario .Input-Group-Adopcion.Checkbox label:hover {
	background: rgba(220,237,200,1);
}
 
.Contenedor-Formulario-Adopcion .Formulario .Input-Group-Adopcion.Radio label:before {
	content: "";
	display: inline-block;
	width: 17px;
	height: 17px;
	position: absolute;
	left: 17px;
	border-radius: 50%;
	background: none;
	border: 2px solid rgb(39,174,96);
}


.Contenedor-Formulario-Adopcion .Formulario .Input-Group-Adopcion input[type="file"]{
	width: 0.1px;
	height: 0.1px;
	opacity: 0;
	margin-bottom: 30px;
}

.Contenedor-Formulario-Adopcion .Formulario .Input-Group-Adopcion span{
	color: rgb(39,174,96);
	padding-right: 15px;
}

.Contenedor-Formulario-Adopcion .Formulario .Input-Group-Adopcion.error label,
.Contenedor-Formulario-Adopcion .Formulario .Input-Group-Adopcion.error label {
	color: rgb(211,47,47);
}

.Contenedor-Formulario-Adopcion .Formulario .Input-Group-Adopcion.error label:hover,
.Contenedor-Formulario-Adopcion .Formulario .Input-Group-Adopcion.error label:hover {
	background: rgba(211,47,47,.2);
}

.Contenedor-Formulario-Adopcion .Formulario .Input-Group-Adopcion.error label:before,
.Contenedor-Formulario-Adopcion .Formulario .Input-Group-Adopcion.error label:before {
	border: 2px solid rgb(211,47,47);
}

.Contenedor-Formulario-Adopcion .Formulario .Input-Group-Adopcion.Radio input[type="radio"],
.Contenedor-Formulario-Adopcion .Formulario .Input-Group-Adopcion.Checkbox input[type="checkbox"] {
	display: none;
}

.Contenedor-Formulario-Adopcion .Formulario .Input-Group-Adopcion.Radio input[type="radio"]:checked + label:before,
.Contenedor-Formulario-Adopcion .Formulario .Input-Group-Adopcion.Checkbox input[type="checkbox"]:checked + label:before {
	display: none;
}

.Contenedor-Formulario-Adopcion .Formulario .Input-Group-Adopcion.Radio input[type="radio"]:checked + label,
.Contenedor-Formulario-Adopcion .Formulario .Input-Group-Adopcion.Checkbox input[type="checkbox"]:checked + label {
	padding: 5px 15px;
	background: rgb(39,174,96);
	border-radius: 2px;
	color: rgb(255,255,255);
}

.Contenedor-Formulario-Adopcion .Formulario input[type="Submit"]{
	background: rgb(39,174,96);
	border-radius: 10px;
	border: 2px solid rgb(255,255,255);
	color: rgb(255,255,255);
	cursor: pointer;
	display: inline-block;
	padding: 16px;
	width: 100%;
	font-family: "Nunito";
	font-size: 16px;
	-webkit-transition: all 0.3s ease;
	-o-transition: all 0.3s ease;
    transition: all 0.3s ease;
}

.Contenedor-Formulario-Adopcion .Formulario input[type="Submit"]:hover {
	background: rgb(35,200,104);
}

/* Fin formulario Adopcion */

/* Formulario Eventos */

.Wrap-Eventos {
	width: 90%;
	max-width: 1000px;
	padding: 40px;
	margin: auto;
	background: rgb(255,255,255);
}

.Posicion-Eventos {
	display: flex;
	justify-content: space-between;
	align-items: center;
}

.Lefth-Eventos, .Rigth-Eventos {
    width: 50%;
}

.Contenedor-Formulario-Eventos {
	width: 100%;
	color: #fff;
}

.Contenedor-Formulario-Eventos .Formulario{
	width: 100%;
	margin: auto;
}

.Contenedor-Formulario-Eventos .Formulario .Input-Group-Eventos {
	position: relative;
	margin-bottom: 32px;
}

.Contenedor-Formulario-Eventos .Formulario .Input-Group-Eventos input[type="text"],
.Contenedor-Formulario-Eventos .Formulario .Input-Group-Eventos input[type="email"],
.Contenedor-Formulario-Eventos .Formulario .Input-Group-Eventos input[type="password"] {
	font-family: "Nunito";
	font-size: 16px;
	color: rgb(39,174,96);
	width: 100%;
	outline: none;
	padding: 7px;
	background: none;
	border: none;
	border-bottom: 2px solid rgb(220,237,200);
}

.Contenedor-Formulario-Eventos .Formulario .Input-Group-Eventos input[type="date"]{
	font-family: "Nunito";
	font-size: 16px;
	color: rgba(255,255,255,.9);
	width: 100%;
	outline: none;
	padding: 7px;
	background: none;
	border: none;
	border-bottom: 2px solid rgb(220,237,200);	
}

.Contenedor-Formulario-Eventos .Formulario .Input-Group-Eventos input[type="text"]:focus,
.Contenedor-Formulario-Eventos .Formulario .Input-Group-Eventos input[type="text"]:active,
.Contenedor-Formulario-Eventos .Formulario .Input-Group-Eventos input[type="email"]:focus,
.Contenedor-Formulario-Eventos .Formulario .Input-Group-Eventos input[type="email"]:active,
.Contenedor-Formulario-Eventos .Formulario .Input-Group-Eventos input[type="password"]:focus,
.Contenedor-Formulario-Eventos .Formulario .Input-Group-Eventos input[type="password"]:active {
	outline: none;
	border-bottom: 2px solid rgb(39,174,96);
}

.Contenedor-Formulario-Eventos .Formulario .Input-Group-Eventos input[type="date"]:focus,
.Contenedor-Formulario-Eventos .Formulario .Input-Group-Eventos input[type="date"]:active{
	color: rgb(39,174,96);
	outline: none;
	border-bottom: 2px solid rgb(39,174,96);	
}

.Contenedor-Formulario-Eventos .Formulario .Input-Group-Eventos input[type="text"].error,
.Contenedor-Formulario-Eventos .Formulario .Input-Group-Eventos input[type="email"].error,
.Contenedor-Formulario-Eventos .Formulario .Input-Group-Eventos input[type="password"].error,
.Contenedor-Formulario-Eventos .Formulario .Input-Group-Eventos input[type="date"].error{
	border-bottom: 2px solid rgb(211,47,47);
}

.Contenedor-Formulario-Eventos .Formulario .Input-Group-Eventos input[type="text"].error + label,
.Contenedor-Formulario-Eventos .Formulario .Input-Group-Eventos input[type="email"].error + label,
.Contenedor-Formulario-Eventos .Formulario .Input-Group-Eventos input[type="password"].error + label,
.Contenedor-Formulario-Eventos .Formulario .Input-Group-Eventos input[type="date"].error + label {
	color: rgb(211,47,47);
}

.Contenedor-Formulario-Eventos .Formulario .Input-Group-Eventos label {
	color: rgb(39,174,96);
}

.Contenedor-Formulario-Eventos .Formulario .Input-Group-Eventos label.label-Eventos {
	position: absolute;
	top: 13px;
	left: 0px;
	font-size: 16px;
	line-height: 16px;
	margin-left: 15px;
	-webkit-transition: all 0.3s ease;
	-o-transition: all 0.3s ease;
    transition: all 0.3s ease;
}

.Contenedor-Formulario-Eventos .Formulario .Input-Group-Eventos label.label-Eventos.active {
	top: -11px;
	font-size: 11px;
	line-height: 12px;
	color: rgb(189,189,189);
}

.Contenedor-Formulario-Eventos .Formulario .Input-Group-Eventos input[type="file"]{
	width: 0.1px;
	height: 0.1px;
	opacity: 0;
}

.Contenedor-Formulario-Eventos .Formulario .Input-Group-Eventos span{
	cursor: pointer;
	color: rgb(39,174,96);
	padding-right: 15px;
}

.Contenedor-Formulario-Eventos .Formulario .Input-Group-Eventos.error label {
	color: rgb(211,47,47);
}

.Contenedor-Formulario-Eventos .Formulario .Input-Group-Eventos.error label:hover {
	background: rgba(211,47,47,.2);
}

.Contenedor-Formulario-Eventos .Formulario .Input-Group-Eventos.error label:before {
	border: 2px solid rgb(211,47,47);
}

.Contenedor-Formulario-Eventos .Formulario input[type="Submit"]{
	background: rgb(39,174,96);
	border-radius: 10px;
	border: 2px solid rgb(255,255,255);
	color: rgb(255,255,255);
	cursor: pointer;
	display: inline-block;
	padding: 15px;
	width: 100%;
	font-family: "Nunito";
	font-size: 16px;
	-webkit-transition: all 0.3s ease;
	-o-transition: all 0.3s ease;
    transition: all 0.3s ease;
}

.Contenedor-Formulario-Eventos .Formulario input[type="Submit"]:hover {
	background: rgb(35,200,104);
}

/* Fin de formulario Eventos */


/* Formulario Tips*/

.Wrap-Tips {
	width: 90%;
	max-width: 1000px;
	padding: 40px;
	margin: auto;
	background: rgb(255,255,255);
}

.Posicion-Tips{
	display: flex;
	justify-content: space-between;
	align-items: center;
}

.Lefth-Tips, .Rigth-Tips {
    width: 50%;
}

.Contenedor-Formulario-Tips {
	width: 100%;
	color: #fff;
}

.Contenedor-Formulario-Tips .Formulario{
	width: 100%;
	margin: auto;
}

.Contenedor-Formulario-Tips .Formulario .Input-Group-Tips {
	position: relative;
	margin-bottom: 32px;
}

.Contenedor-Formulario-Tips .Formulario .Input-Group-Tips input[type="text"] {
	font-family: "Nunito";
	font-size: 16px;
	color: rgb(39,174,96);
	width: 100%;
	outline: none;
	padding: 7px;
	background: none;
	border: none;
	border-bottom: 2px solid rgb(220,237,200);
}

.Contenedor-Formulario-Tips .Formulario .Input-Group-Tips input[type="text"]:focus,
.Contenedor-Formulario-Tips .Formulario .Input-Group-Tips input[type="text"]:active{
	outline: none;
	border-bottom: 2px solid rgb(39,174,96);
}


.Contenedor-Formulario-Tips .Formulario .Input-Group-Tips input[type="text"].error{
	border-bottom: 2px solid rgb(211,47,47);
}

.Contenedor-Formulario-Tips .Formulario .Input-Group-Tips input[type="text"].error + label {
	color: rgb(211,47,47);
}

.Contenedor-Formulario-Tips .Formulario .Input-Group-Tips label {
	color: rgb(39,174,96);
}

.Contenedor-Formulario-Tips .Formulario .Input-Group-Tips label.label-Tip {
	position: absolute;
	top: 13px;
	left: 0px;
	font-size: 16px;
	line-height: 16px;
	margin-left: 15px;
	-webkit-transition: all 0.3s ease;
	-o-transition: all 0.3s ease;
    transition: all 0.3s ease;
}

.Contenedor-Formulario-Tips .Formulario .Input-Group-Tips label.label-Tip.active {
	top: -11px;
	font-size: 11px;
	line-height: 12px;
	color: rgb(189,189,189);
}

.Contenedor-Formulario-Tips .Formulario .Input-Group-Tips input[type="file"]{
	width: 0.1px;
	height: 0.1px;
	opacity: 0;
}

.Contenedor-Formulario-Tips .Formulario .Input-Group-Tips span{
	cursor: pointer;
	color: rgb(39,174,96);
	padding-right: 15px;
}

.Contenedor-Formulario-Tips .Formulario .Input-Group-Tips.error label {
	color: rgb(211,47,47);
}

.Contenedor-Formulario-Tips .Formulario .Input-Group-Tips.error label:hover {
	background: rgba(211,47,47,.2);
}

.Contenedor-Formulario-Tips .Formulario .Input-Group-Tips.error label:before {
	border: 2px solid rgb(211,47,47);
}

.Contenedor-Formulario-Tips .Formulario input[type="Submit"]{
	background: rgb(39,174,96);
	border-radius: 10px;
	border: 2px solid rgb(255,255,255);
	color: rgb(255,255,255);
	cursor: pointer;
	display: inline-block;
	padding: 15px;
	width: 100%;
	font-family: "Nunito";
	font-size: 16px;
	-webkit-transition: all 0.3s ease;
	-o-transition: all 0.3s ease;
    transition: all 0.3s ease;
}

.Contenedor-Formulario-Tips .Formulario input[type="Submit"]:hover {
	background: rgb(35,200,104);
}

/* Fin de formulario Tips */

/* Formulario Ciudadano */
.Ciudadanos {
	display: flex;
	align-items: center;
	justify-content: center;
	margin: 10px auto;
	background: rgb(255,255,255);
	color: rgb(39,174,96);
	width: 100%;
	height: 50px;
	border-radius: 10px 0px 0px 0px;
	max-width: 1000px;
}
.Wrap-Ciudadanos {
    width: 100%;
    max-width: 1000px;
    padding: 20px;
    border-radius: 0px 0px 20px;
    margin: -10px auto;
    background: rgb(255,255,255);
}

.Posicion-Usuarios {
    display: flex;
    justify-content: space-between;
    align-items: center;
}

.Left-Usuarios, .Rigth-Usuarios {
    width: 48%;
}


.Contenedor-Formulario-Usuarios {
    width: 100%;
    color: #fff;
}

.Contenedor-Formulario-Usuarios .Formulario{
    width: 100%;
    margin: auto;
}

.Contenedor-Formulario-Usuarios .Formulario .Input-Group-Usuarios {
    position: relative;
    margin-bottom: 32px;
}

.Contenedor-Formulario-Usuarios .Formulario .Input-Group-Usuarios input[type="text"],
.Contenedor-Formulario-Usuarios .Formulario .Input-Group-Usuarios input[type="email"],
.Contenedor-Formulario-Usuarios .Formulario .Input-Group-Usuarios input[type="password"] {
    font-family: "Nunito";
    font-size: 16px;
    color: rgb(39,174,96);
    width: 100%;
    outline: none;
    padding: 7px;
    background: none;
    border: none;
    border-bottom: 2px solid rgb(220,237,200);
}

.Contenedor-Formulario-Usuarios .Formulario .Input-Group-Usuarios input[type="date"]{
    font-family: "Nunito";
    font-size: 16px;
    color: rgba(255,255,255,.9);
    width: 100%;
    outline: none;
    padding: 7px;
    background: none;
    border: none;
    border-bottom: 2px solid rgb(220,237,200);	
}

.Contenedor-Formulario-Usuarios .Formulario .Input-Group-Usuarios input[type="text"]:focus,
.Contenedor-Formulario-Usuarios .Formulario .Input-Group-Usuarios input[type="text"]:active,
.Contenedor-Formulario-Usuarios .Formulario .Input-Group-Usuarios input[type="email"]:focus,
.Contenedor-Formulario-Usuarios .Formulario .Input-Group-Usuarios input[type="email"]:active,
.Contenedor-Formulario-Usuarios .Formulario .Input-Group-Usuarios input[type="password"]:focus,
.Contenedor-Formulario-Usuarios .Formulario .Input-Group-Usuarios input[type="password"]:active {
    outline: none;
    border-bottom: 2px solid rgb(39,174,96);
}

.Contenedor-Formulario-Usuarios .Formulario .Input-Group-Usuarios input[type="date"]:focus,
.Contenedor-Formulario-Usuarios .Formulario .Input-Group-Usuarios input[type="date"]:active{
    color: rgb(39,174,96);
    outline: none;
    border-bottom: 2px solid rgb(39,174,96);	
}

.Contenedor-Formulario-Usuarios .Formulario .Input-Group-Usuarios input[type="text"].error,
.Contenedor-Formulario-Usuarios .Formulario .Input-Group-Usuarios input[type="email"].error,
.Contenedor-Formulario-Usuarios .Formulario .Input-Group-Usuarios input[type="password"].error,
.Contenedor-Formulario-Usuarios .Formulario .Input-Group-Usuarios input[type="date"].error{
    border-bottom: 2px solid rgb(211,47,47);
}

.Contenedor-Formulario-Usuarios .Formulario .Input-Group-Usuarios input[type="text"].error + label,
.Contenedor-Formulario-Usuarios .Formulario .Input-Group-Usuarios input[type="email"].error + label,
.Contenedor-Formulario-Usuarios .Formulario .Input-Group-Usuarios input[type="password"].error + label,
.Contenedor-Formulario-Usuarios .Formulario .Input-Group-Usuarios input[type="date"].error + label {
    color: rgb(211,47,47);
}

.Contenedor-Formulario-Usuarios .Formulario .Input-Group-Usuarios label {
    color: rgb(39,174,96);
}

.Contenedor-Formulario-Usuarios .Formulario .Input-Group-Usuarios label.label-Usuarios {
    position: absolute;
    top: 13px;
    left: 0px;
    font-size: 16px;
    line-height: 16px;
    margin-left: 15px;
    -webkit-transition: all 0.3s ease;
    -o-transition: all 0.3s ease;
    transition: all 0.3s ease;
}

.Contenedor-Formulario-Usuarios .Formulario .Input-Group-Usuarios label.label-Usuarios.active {
    top: -11px;
    font-size: 11px;
    line-height: 12px;
    color: rgb(189,189,189);
}

.Contenedor-Formulario-Usuarios .Formulario .Input-Group-Usuarios input[type="file"]{
    width: 0.1px;
    height: 0.1px;
    opacity: 0;
}

.Contenedor-Formulario-Usuarios .Formulario .Input-Group-Usuarios span{
    cursor: pointer;
    color: rgb(39,174,96);
    padding-right: 15px;
}

.Contenedor-Formulario-Usuarios .Formulario .Input-Group-Usuarios.Radio label {
    display: inline-block;
    cursor: pointer;
    color: rgb(39,174,96);
    position: relative;
    padding: 1px 15px 1px 51px;
    font-size: 16px;
    border-radius: 3px;
    -webkit-transition: all 0.3s ease;
    -o-transition: all 0.3s ease;
    transition: all 0.3s ease;
}

.Contenedor-Formulario-Usuarios .Formulario .Input-Group-Usuarios.Radio label:hover {
    background: rgba(220,237,200,1);
}

.Contenedor-Formulario-Usuarios .Formulario .Input-Group-Usuarios.Radio label:before {
    content: "";
    display: inline-block;
    width: 16px;
    height: 16px;
    position: absolute;
    left: 15px;
    border-radius: 50%;
    background: none;
    border: 2px solid rgb(39,174,96);
}

.Contenedor-Formulario-Usuarios .Formulario .Input-Group-Usuarios.error label {
    color: rgb(211,47,47);
}

.Contenedor-Formulario-Usuarios .Formulario .Input-Group-Usuarios.error label:hover {
    background: rgba(211,47,47,.2);
}

.Contenedor-Formulario-Usuarios .Formulario .Input-Group-Usuarios.error label:before {
    border: 2px solid rgb(211,47,47);
}

.Contenedor-Formulario-Usuarios .Formulario .Input-Group-Usuarios.Radio input[type="radio"]{
    display: none;
}

.Contenedor-Formulario-Usuarios .Formulario .Input-Group-Usuarios.Radio input[type="radio"]:checked + label:before {
    display: none;
}

.Contenedor-Formulario-Usuarios .Formulario .Input-Group-Usuarios.Radio input[type="radio"]:checked + label{
    padding: 5px 15px;
    background: rgb(39,174,96);
    border-radius: 2px;
    color: rgb(255,255,255);
}

.Contenedor-Formulario-Usuarios .Formulario input[type="Submit"]{
    background: rgb(39,174,96);
    border-radius: 10px;
    border: 2px solid rgb(255,255,255);
    color: rgb(255,255,255);
    cursor: pointer;
    display: inline-block;
    padding: 15px;
    width: 100%;
    font-family: "Nunito";
    font-size: 16px;
    -webkit-transition: all 0.3s ease;
    -o-transition: all 0.3s ease;
    transition: all 0.3s ease;
}

.Contenedor-Formulario-Usuarios .Formulario input[type="Submit"]:hover {
    background: rgb(35,200,104);
}

/* Fin de formulario Ciudadano */

/* Inicio formulario Listas*/

.Wrap-Listas {
	width: 90%;
	max-width: 1000px;
	padding: 40px;
	margin: auto;
        color: rgb(39,174,96);
	background: rgb(255,255,255);
}

 .Listas {
	display: flex;
	align-items: center;
	justify-content: center;
	margin: 10px auto;
	background: rgb(255,255,255);
	color: rgb(39,174,96);
	width: 100%;
	height: 50px;
	border-radius: 10px 0px 0px 0px;
	max-width: 1000px;
}


.Contenedor-Formulario-Listas {
	width: 100%;
	color: #fff;
	padding: 50px;
}

.Contenedor-Formulario-Listas .Formulario{
	width: 100%;
	margin: auto;
}

.Contenedor-Formulario-Listas .Formulario .Input-Group-Listas{
	position: relative;
	margin-bottom: 32px;
}

.Contenedor-Formulario-Listas .Formulario .Input-Group-Listas label {
	color: rgb(39,174,96);
}

.Contenedor-Formulario-Listas .Formulario .Input-Group-Listas label.label {
	position: absolute;
	top: 16px;
	left: 0px;
	font-size: 16px;
	line-height: 16px;
	margin-left: 15px;
	-webkit-transition: all 0.3s ease;
	-o-transition: all 0.3s ease;
    transition: all 0.3s ease;
}

.Contenedor-Formulario-Listas .Formulario .Input-Group-Listas label.label.active {
	top: -12px;
	font-size: 12px;
	line-height: 12px;
	color: rgb(189,189,189);
}

.Contenedor-Formulario-Listas .Formulario .Input-Group-Listas.Checkbox label,
.Contenedor-Formulario-Listas .Formulario .Input-Group-Listas.Radio label {
	display: inline-block;
	cursor: pointer;
	color: rgb(39,174,96);
	position: relative;
	padding: 5px 15px 5px 51px;
	font-size: 1em;
	border-radius: 3px;
	-webkit-transition: all 0.3s ease;
	-o-transition: all 0.3s ease;
    transition: all 0.3s ease;
}

.Contenedor-Formulario-Listas .Formulario .Input-Group-Listas.Checkbox label:hover,
.Contenedor-Formulario-Listas .Formulario .Input-Group-Listas.Radio label:hover {
	background: rgba(220,237,200,1);
}

.Contenedor-Formulario-Listas .Formulario .Input-Group-Listas.Radio label:before {
	content: "";
	display: inline-block;
	width: 17px;
	height: 17px;
	position: absolute;
	left: 15px;
	border-radius: 50%;
	background: none;
	border: 2px solid rgb(39,174,96);
}

.Contenedor-Formulario-Listas .Formulario .Input-Group-Listas span{
	color: rgb(39,174,96);
	padding-right: 15px;
}

.Contenedor-Formulario-Listas .Formulario .Input-Group-Listas.error label {
	color: rgb(211,47,47);
}

.Contenedor-Formulario-Listas .Formulario .Input-Group-Listas.error label:hover {
	background: rgba(211,47,47,.2);
}

.Contenedor-Formulario-Listas .Formulario .Input-Group-Listas.error label:before {
	border: 2px solid rgb(211,47,47);
}

.Contenedor-Formulario-Listas .Formulario .Input-Group-Listas.Radio input[type="radio"],
.Contenedor-Formulario-Listas .Formulario .Input-Group-Listas.Checkbox input[type="checkbox"] {
	display: none;
}

.Contenedor-Formulario-Listas .Formulario .Input-Group-Listas.Radio input[type="radio"]:checked + label:before,
.Contenedor-Formulario-Listas .Formulario .Input-Group-Listas.Checkbox input[type="checkbox"]:checked + label:before {
	display: none;
}

.Contenedor-Formulario-Listas .Formulario .Input-Group-Listas.Radio input[type="radio"]:checked + label,
.Contenedor-Formulario-Listas .Formulario .Input-Group-Listas.Checkbox input[type="checkbox"]:checked + label {
	padding: 5px 15px;
	background: rgb(39,174,96);
	border-radius: 2px;
	color: rgb(255,255,255);
}

.Contenedor-Formulario-Listas .Formulario input[type="Submit"]{
	background: rgb(39,174,96);
	border-radius: 10px;
	border: 2px solid rgb(255,255,255);
	color: rgb(255,255,255);
	cursor: pointer;
	display: inline-block;
	padding: 15px;
	width: 100%;
	font-family: "Nunito";
	font-size: 16px;
	-webkit-transition: all 0.3s ease;
	-o-transition: all 0.3s ease;
    transition: all 0.3s ease;
}

.Contenedor-Formulario-Listas .Formulario input[type="Submit"]:hover {
	background: rgb(35,200,104);
}

//Fin formulario listas

/* Fin de estilo de formularios*/

/* Inicio de Responsive */

@media screen and (max-width: 990px){

	header {
		background: none;
	}

	header .Menu {
		width: 100%;
		align-items: initial;
		flex-direction: column-reverse;
	}

	header .Menu .Usuario {
		background: rgb(39,174,96);
		width: 100%;
		display: flex;
		justify-content: space-between;
	}

	.Menu .Usuario .Perfil {
		margin-right: 1em;
	}

	header .Menu .Usuario .btn-menu {
		display: inline-block;
		padding: 1em;
	}

	header .Menu .Enlaces {
		background: rgb(39,174,96);
		width: 30%;
		height: 100%;
		display: flex;
		flex-direction: column;
	}

	.Denuncias,.Mascotas,.Eventos,.Tips,.Contactenos {
		height: 100%;
	}

	main article {
		height: 100%;
	}

}

@media screen and (max-width: 850px){
	.Posicion-Adopcion,
	.Posicion-Eventos,
	.Posicion-Tips,
	.Posicion-Usuarios {
		display: flex;
		flex-direction: column;
	}

	.Left-Adopcion, 
	.Rigth-Adopcion,
	.Lefth-Eventos,
	.Rigth-Eventos,
	.Lefth-Tips,
	.Rigth-Tips,
	.Left-Usuarios,
	.Rigth-Usuarios {
		width: 90%;
	}

}

@media screen and (max-width: 550px){
	.Contenido-Modal {
		width: 90%;
		min-width: 350px;
	}

	header .Menu .Enlaces {
		background: rgb(39,174,96);
		width: 90%;
		height: 40vh;
		display: flex;
		flex-direction: column;
	}
}

/* Fin de Responsive */