* {
	margin: 0;
	padding: 0;
	box-sizing: border-box;
}
h1{
    font-family: "Nunito";
    color: rgb(39,174,96);
    text-align: center;
}
body {
	background: rgb(220,237,200) url("../Imagenes/Fondo.jpg");
	background-repeat: no-repeat;
	background-size: cover;
	background-attachment: fixed;
	font-family: 'Nunito Sans', sans-serif arial;
	font-size: 16px;
}
.Contenedor-Postulacion{
        background: rgba(255,249,196,.8);
        width: 100%;
	height: 100vh;
	margin: 0 auto;
}
.Barra{
    background: rgb(39,174,96);
    width: 100%;
    height: 50px;
    min-width: 350px;
    top: 0;
}
.Barra .fa-home{
    padding: 5px 20px;
    font-size: 38px;
    color: white;
}
.Barra .fa-home:hover{
    color: red;
}
